/* App Stylesheet
 * Programmer (Student ID): Ben Corriette (@02956064)
 * Last modified date: 11/09/2021
 */ 

button#start-button {
  font-family: 'Stencil', 'Impact', 'Arial', sans-serif;
  font-weight: normal;
  font-size: 3.5em;
  transition: opacity 1s;
  position: relative;
  top: 30%;
}

button#exit-button {
  font-family: 'Arial', sans-serif;
  position: absolute;
  top: 30px;
  right: 5%;
  transition: opacity 1s;
}

button.howard-blue-button {
  background-color: #003763; /* Howard Blue */
  font-weight: normal;
  font-size: 2em;
}

button.howard-blue-button-small {
  background-color: #003763; /* Howard Blue */
  font-weight: normal;
  font-size: 1.2em;
}

.opacity-zero {
  opacity: 0%;
}

div#header-row {
   background-color: #003763; /* Howard Blue */
   min-height: 128px;
}

div#body-row {
  background-image: url("./2232px-HowardUniversity_FoundersLibrary-cropped.png");
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  box-shadow: 10px 10px 30px 30px white inset, 
    -10px -10px 30px 30px white inset;
  transition: background-image 1s;
  min-height: 640px; /* Smallest expected mobile phone height */
}

.no-background-image {
  background-image: none !important;
  background-color: AntiqueWhite !important;
}

div#game-board, div#game-message {
  transition: opacity 1s;
}

form#word-search-form, div#matched-word-list {
  font-family: 'Arial', sans-serif;
  margin: 10% auto 10% 5%;
  text-align: left;
  transition: opacity 1s;
}

  form#word-search-form button[type=submit] {
      padding-left: 30px;
      padding-right: 30px;
  }

  form#word-search-form button[type=reset] {
      padding-left: 42px;
      padding-right: 42px;
  }

  form#word-search-form input#word-search-textbox {
      margin-bottom: 10px;
  }

  form#word-search-form input#word-search-textbox:invalid:focus {
      background-color: Pink;
  }

.form-label {
  font-size: 2em;
  font-weight: bold;
}

button#grid-size-dropdown-menu {
  margin-left: 5%;
  width: 94%;
  font-family: 'Arial', sans-serif;
  font-size: 2em;
  display: none;
}

  div.dropdown-menu {
    font-size: 2em;
    width: 94%;
  }

div.row {
  justify-content: center;
}

div.game-board-letter {
  background-color: Beige;
  border-radius: 10px;
  filter: drop-shadow(3px 3px 3px Grey); 
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  margin: 5px;
  min-height: 100px;
  max-width: 100px;
  padding-top: 15px;
  position: relative;
}

div#matched-word-list {
  transition: opacity 1s;
}

.modal-dialog, .alert {
  font-family: 'Arial', sans-serif;
}

.modal-body {
  font-size: 1.2em;
}

.alert {
  margin-top: 5px;
  font-size: 1.2em !important;
}

.modal-title {
  font-weight: bold;
  font-size: 2em;
}

.App-logo {
  position: absolute;
  top: 10px;
  left: 10%;
  max-height: 108px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
}

.App-header-text {
  display: inline-block;
  position: relative;
  top: 15px;
  left: 30%;
  font-family: 'Stencil', 'Impact', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 5em;
}
  .App-header-text .first-word {
    color: #ff1b00;
  }
  .App-header-text .second-word {
    color: white;
  }
